<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{% block tittle %}CARLOS GARCIA SEGURA{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'recetas' %}">Recetas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">   
                        {{user.email}}
                    </li>
                    <li class="nav-item">   
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a>
                    </li>
                    <li class="nav-item">   
                        <a class="nav-link" href="{% url 'usuarios' %}">Lista de usuarios</a>
                    </li>
                    {%else%}
                    <li class="nav-item">   
                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
                    </li>
                    {%endif%}
                </ul>
                <form class="d-flex" role="search" method="POST" >
                    {% csrf_token %}
                    <input name="receta" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <section class="content">

        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible">         
          <h5><i class="icon fas fa-ban"></i>ERROR!</h5>
          {{ message }}
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible">          
          <h5><i class="icon fas fa-check"></i>ÉXITO!</h5>
          {{ message }}
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning alert-dismissible">          
          <h5><i class="icon fas fa-exclamation-triangle"></i>CUIDADO!</h5>
          {{ message }}
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info alert-dismissible">
          <h5><i class="icon fas fa-info"></i>INFORMACIÓN!</h5>
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

    </section>
    {% block main %}

    {% endblock %}



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>